<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dove Siamo</title>
    <%- include ('head') %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('navbar') %>
<section class="title">
    <div class="container" style="width: 100vw; height: 90vh;">
        <div class="row" style="display: block;">
            <div class="col" style="margin-top: 30vh; margin-left: auto; margin-right: auto; display: block;">
                <h1 class="PremierLeague vintage">ERROR 404</h1>
                <p style="margin-left: auto; margin-right: auto;" class="roboto-light">pagina non trovata</p>
                <a class="roboto-light" style="display:block; margin-left: auto; margin-right: auto; font-size: 1rem; text-align: center;" href="/">Torna alla home</a>
            </div>
        </div>
    </div>
</section>



<%- include('footer') %>

</body>
</html>