<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La nostra Storia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-acqua.css">
    
</head>
<body>
    <%- include('navbar') %>
    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="roboto-bold">La nostra acqua</h1>
                </div>
                <div class="col">
                    <p class="roboto-thin">L´acqua è il veicolo che trasporta le sostanze nutritive alle cellule e dalle stesse ne elimina le impurità.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="second">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/donna-in-acqua.jpg" alt="donna in acqua">
                </div>
                <div class="col half">
                    <h1>
                        Altro Titolo
                    </h1>
                    <p class="roboto-thin">
                        questo è un altro testo aggiuntio da inserire e scrivere nella pagina, bisogna vedere il materiale insieme
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="third">
        <div class="container">
            <div class="row">
                <div class="col sorsi">
                    <img src="/img/sorsi.jpg">
                    <h3>Sorsi di benessere</h3>
                    <p>L´acqua Tesorino è particolarmente efficace come coadiuvante nel trattamento di numerose patologie dell´apparato digerente e urinario. L´acqua Tesorino può concorrere...</p>
                </div>
                <div class="col Fonte"> 
                    <img src="/img/salute.jpg">
                    <h3>Fonte di salute</h3>
                    <p>Di tutti i liquidi noti, l’acqua è probabilmente il più studiato e, tuttavia, il meno conosciuto» (Felix Franks, Plenum Press, N.Y.1973, Water a comprehensive treatise)</p>
                </div>
                <div class="col crescita">
                    <img src="/img/crescita.jpg">
                    <h3>Per la crescita</h3>
                    <p>Di tutti i liquidi noti, l’acqua è probabilmente il più studiato e, tuttavia, il meno conosciuto» (Felix Franks, Plenum Press, N.Y.1973, Water a comprehensive treatise)</p>
                </div>
                <div class="col sport">
                    <img src="/img/sport.jpg">
                    <h3>Per lo sport</h3>
                    <p>Di tutti i liquidi noti, l’acqua è probabilmente il più studiato e, tuttavia, il meno conosciuto» (Felix Franks, Plenum Press, N.Y.1973, Water a comprehensive treatise)</p>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>
    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>