<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La nostra Acqua</title>
    <%- include ('head') %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-acqua.css">
    <link rel="stylesheet" href="/css/style-accordion.css">
    
</head>
<body>
    <%- include('navbar') %>
    <section class="title">
        <div class="container">
            <video id="background-video" autoplay loop muted poster="/img/TesorinoColline.png">
                <source src="/videos/CollineTesorino.mp4" type="video/mp4">
              </video>
            <div class="row">
                <div class="col">
                    <h2 class="roboto-bold vintage">LA NOSTRA ACQUA</h2>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </section>
    <section class="second">
        <div class="container">
            <h1>
                Capire l'Etichetta
            </h1>
            <div class="row">
                <div class="col animated">
                    <img src="/img/valori.png" alt="donna in acqua">
                </div>
                <div class="col half animated">                      
                      <section class="accordion accordion--radio">
                        <div class="tab">
                          <input type="radio" name="accordion-2" id="rd1">
                          <label for="rd1" class="tab__label roboto-bold">Acqua Minerale</label>
                          <div class="tab__content">
                            <p>Acque microbiologicamente pure all'origine, che possiedono caratteristiche igieniche particolari e proprietà favorevoli alla salute</p>
                          </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd2">
                            <label for="rd2" class="tab__label roboto-bold">Residuo Fisso</label>
                            <div class="tab__content">
                                <p>
                                    è quantità dei sali disciolti in un litro di acqua minerale naturale. Il residuo fisso si ottiene facendo bollire un litro di acqua a 180°. Una volta evaporata sul fondo rimane una patina bianca, che è il concentrato dei sali minerali. Raccolto e pesato, in milligrammi, potremo definire quell'acqua secondo la classificazione dell'Unione Europea:
                                </p>
                                <img src="/img/residuo-fisso.png" style="padding: 20px; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd3">
                            <label for="rd3" class="tab__label roboto-bold">PH</label>
                            <div class="tab__content">
                              <p>
                                    Phactor Hidrogen indica il livello di acidità o basicità dell'acqua. 7 è PH neutro. Al di sotto di 7 l'acqua è acida, al di sopra di 7 l'acqua è basica. Le acque a bassa mineralizzazione sono più acide delle mineralizzate.
                              </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rdtf">
                            <label for="rdtf" class="tab__label roboto-bold">Temperatura alla Fonte</label>
                            <div class="tab__content">
                                <p>
                                    Indica la temperatura dell'acqua al momento del prelievo dal sottosuolo.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rdces">
                            <label for="rdces" class="tab__label roboto-bold">Conducibilità elettrica specifica</label>
                            <div class="tab__content">
                                <p>
                                    Conducibilità elettrica specifica: Il passaggio della corrente elettrica dovuto al carico di minerali che sono contenuti in un litro di acqua e aumenta a l'aumentare del contenuto salino dell'acqua.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd4">
                            <label for="rd4" class="tab__label roboto-bold">Calcio</label>
                            <div class="tab__content">
                              <p>
                                È il maggior costituente per le ossa, indispensabile per la coagulazione del sangue, interviene nella regolazione delle contrazioni muscolari. Fondamentale in gravidanza e nella crescita. Solo dal latte e dall'acqua minerale, il calcio è facilmente assimilabile. Previene l'osteoporosi.
                            </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd5">
                            <label for="rd5" class="tab__label roboto-bold">Potassio</label>
                            <div class="tab__content">
                                <p>
                                    Favorisce l'utilizzazione delle proteine e dei glucidi. Mantiene integro il tessuto nervoso e muscolare.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rdMg">
                            <label for="rdMg" class="tab__label roboto-bold">Magnesio</label>
                            <div class="tab__content">
                                <p>
                                    Magnesio: Insieme al Calcio ed al Bicarbonato a livello intestinale combattono l'irritazione del colon e la stipsi, blandamente lassativo. Fondamentale per il reintegro dei sali persi con la sudorazione durante l'attività sportiva.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd6">
                            <label for="rd6" class="tab__label roboto-bold">Bicarbonati</label>
                            <div class="tab__content">
                                <p>
                                    Azione antinfiammatoria tamponano l'acidità gastrica insieme ai Solfati hanno attività coleretica e colagoga e conferiscono all'acqua una funzione epato- colecistica, migliorando così il transito intestinale.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd7">
                            <label for="rd7" class="tab__label roboto-bold">Sodio</label>
                            <div class="tab__content">
                                <p>
                                    Fabbisogno giornaliero mg 2.500 Funzione: Regola la temperatura delle cellule, utile per l'attività sportiva.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd8">
                            <label for="rd8" class="tab__label roboto-bold">Solfati</label>
                            <div class="tab__content">
                                <p>
                                    Insieme ai Bicarbonati hanno una attività coleretica e colagogo, aiutano la digestione e conferiscono all'acqua una funzione epato- colecistica, migliorando così il transito intestinale.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd9">
                            <label for="rd9" class="tab__label roboto-bold">Nitrati</label>
                            <div class="tab__content">
                                <p>
                                    elemento indesiderato, perché rispecchia la presenza di elementi contaminanti che si trovano nel terreno (pesticidi, fertilizzanti chimici, ecc). Più il valore si avvicina allo 0 più l'acqua è pura.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rdP">
                            <label for="rdP" class="tab__label roboto-bold">Fluoro</label>
                            <div class="tab__content">
                                <p>
                                    Fondamentale in gravidanza e nella prevenzione delle carie dentarie.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd10">
                            <label for="rd10" class="tab__label roboto-bold">Cloruri</label>
                            <div class="tab__content">
                                <p>
                                    Funzione: Equilibrano le funzioni dell'intestino e delle vie biliari.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd11">
                            <label for="rd11" class="tab__label roboto-bold">Decreti e autorizzazioni</label>
                            <div class="tab__content">
                                <p>
                                    nell'etichetta deve essere scritto il nome dell'azienda, il luogo dove si trova lo stabilimento di produzione, i decreti autorizzativi all'imbottigliamento e alla vendita. Deve inoltre essere evidenziato l'ente che ha effettuato le analisi chimiche e chimico fisiche la data delle stesse e la relativa data di riconoscimento di "Acqua Minerale Naturale". Devono essere indicate eventuali aggiunte di anidride carbonica. Ogni acqua minerale può avere solamente un secondo nome commerciale, ma comunque deve essere sempre riportato il nome originale dell'acqua con misure più grandi di una volta e mezzo del nome commerciale.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="accordion-2" id="rd12">
                            <label for="rd12" class="tab__label roboto-bold">Data di Scadenza</label>
                            <div class="tab__content">
                                <p>
                                    è indicata nell'etichetta e indica il giorno entro il quale deve essere consumata l'acqua. Il termine di scadenza è stabilito in due anni, alcune aziende anticipano la data di scadenza a un anno e mezzo. Comunque si deve sempre tenere conto della data riportata in etichetta.                                </p>
                            </div>
                        </div>
                        <div class="tab">
                          <input type="radio" name="accordion-2" id="rd0">
                          <label for="rd0" class="tab__close">Chiudi tutto &times;</label>
                        </div>
                      </section>
<<<<<<< HEAD
                </div>
            </div>
        </div>
    </section>
    <section class="residuo">
        <div class="container">
            <div class="row">
                <div class="col animated">
                    <div class="titolo"><h1>Residuo Fisso</h1></div>
                    <div class="contenuto"><p>Il residuo fisso è una delle tante caratteristiche chimico-fisiche dell’acqua e permette la classificazione in acque:
                        <br><br>
                        <b>MINIMAMENTE MINERALIZZATE</b> <br>(residuo fisso < 50mg/l)<br>
                        <b>OLIGOMINERALI</b><br>(50mg/l <="" 500mg="" l)<br>
                        <b>MEDIO-MINERALI</b><br>(500mg/l <="" 1500mg="" l)<br>
                        <b>RICCHE DI SALI</b><br>(residuo fisso > 1500 mg/L)<br>
                        <br>
                        Il residuo fisso viene chiamato così in quanto indica la quantità di sali, espressa in mg/litro, residua ovvero che resta dall’evaporazione di un litro di acqua a 180 °C, indica sostanzialmente quanto l’acqua è ricca in minerali.
                        Un’acqua ad alto residuo non è peggiore o migliore di una a residuo fisso più basso, contiene semplicemente più sali minerali.
                        Voler definire la qualitá dell’acqua in base a questo valore non è quindi corretto essenzialmente per due motivi:
                        i sali minerali non sono sostanze dannose, ma bensì utili per il nostro organismo, che ne necessita in quantità e qualità diversa in base all’etá, allo stato di salute e allo stile di vita
                        il residuo fisso indica solo il valore assoluto di sali minerali, per capire il tipo di acqua specifico è necessario leggere in etichetta quali minerali sono maggiormente presenti
                         <br>
                        Un’acqua può avere un residuo fisso molto alto dovuto alla presenza in grandi concentrazioni solo di uno o due sali minerali mantenendo bassi tutti gli altri. E’ essenziale quindi andare a leggere la concentrazione di quali sali minerali sia maggiore per capire quale acqua vada più incontro alle proprie esigenze.
                        </p>
                    </div>
                </div>
                <div class="col contenuto animated">
                    <h3 class="roboto-bold">COME SCEGLIERE L'ACQUA IN BASE AL RESIDUO FISSO?</h2>
                    <p class="roboto-regular">L’acqua è la principale fonte di sali minerali che ci permette di reintegrare quelli persi non solo durante l’attività fisica, ma anche nelle attività quotidiane. La scelta dell’acqua va basata chiaramente sulle caratteristiche fisiche, di salute e di stile di vita della persona; ma in generale vale il concetto che un’acqua medio minerale è ideale per tutti coloro che svolgono una vita attiva e sono particolarmente indicate durante la gravidanza, quando il fabbisogno soprattutto di calcio e magnesio aumenta, per i bambini e gli adolescenti nelle varie tappe della crescita, quando è maggiormente importante un apporto appropriato di tutti i minerali e ovviamente durante l’attività sportiva, dove un’acqua minerale ricca sostituisce in maniera naturale gli integratori di sali minerali. Per gli anziani invece generalmente sono indicate acque oligominerali ma ricche di calcio. Particolare attenzione va riservata ai lattanti, per i quali è necessario impiegare le acque che presentano in etichetta la dicitura “adatte all’alimentazione dei neonati”, queste acque seguono precisi standard indicati dal ministero della salute fra i quali un basso valore di residuo fisso, non superiore a 150 mg/l, quindi delle oligominerali o minimamente mineralizzate, con scarso tenore di sodio, potassio e cloro. Casi a parte sono invece la presenza di patologie, in particolare dell’apparato urinario, biliare, cardiovascolare, regimi dietetici in cui è necessaria un’azione diuretica marcata e ad altre condizioni similari per le quali sarà il medico ad indicare il tipo di acqua più adatto in base al quadro clinico del paziente.
                        Il residuo fisso è quindi un valore molto importante che ci permette di valutare la ricchezza di sali minerali dell’acqua e non un nemico della nostra salute.
                        </p>
=======
>>>>>>> 269bfe3630bc2a920cefd1baf6171d1e2428f65c
                </div>
            </div>
        </div>
    </section>
    <section class="third">
        <div class="container">
            <div class="row">
                <div class="col sorsi animated" offset="0.2">
                    <img src="/img/sorsi.jpg">
                    <p>L´acqua Tesorino è particolarmente efficace come coadiuvante nel trattamento di numerose patologie dell´apparato digerente e urinario. L´acqua Tesorino può concorrere...<a href="/docs/SORSIDIBENESSERE.pdf" target="_blank" rel="noopener noreferrer">clicca qui</a></p>
                </div>
                <div class="col Fonte animated"> 
                    <img src="/img/salute.jpg">
                    <h3>Fonte di salute</h3>
                    <p>Di tutti i liquidi noti, l’acqua è probabilmente il più studiato e, tuttavia, il meno conosciuto» (Felix Franks, Plenum Press, N.Y.1973, Water a comprehensive treatise) ...<a href="/docs/FONTEDISALUTE.pdf" target="_blank" rel="noopener noreferrer">clicca qui</a></p>
                </div>
                <div class="col crescita animated">
                    <img src="/img/crescita.jpg">
                    <h3>Per la crescita</h3>
                    <p>La composizione dell’acqua Sorgente Tesorino e in particolare l’alto contenuto di
                        Calcio (145 mg/L) e Magnesio (31 mg/L) la rendono un’acqua adatta per integrare la
                        dieta durante l’infanzia e l’adolescenza...<a href="/docs/PERLACRESCITA.pdf" target="_blank" rel="noopener noreferrer">clicca qui</a></p>
                </div>
                <div class="col sport animated">
                    <img src="/img/sport.jpg">
                    <h3>Per lo sport</h3>
                    <p>La presenza di magnesio e calcio risulta di fondamentale importanza per la stimolazione delle funzioni muscolari durante l´attività atletica. L’acqua è la principale fonte di sali minerali ... <a href="/docs/PERLOSPORT.pdf" target="_blank" rel="noopener noreferrer">clicca qui</a></p>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>
    
    <script type="module" src="/js/script-acqua.js"></script>
</body>
</html>