<footer id="footer">
    <div class="container-footer">
        <div class="row-footer">
            <div class="col-footer" style="text-align: center;">
                <img src="/assets/logorosso.png" alt="logo tesorino" style="width: 100%; max-width: 200px; margin-left: auto; margin-right: auto; ">
                <p class="roboto-regular-italic" style="font-size: 15px; text-align: center; margin-top: 20px;">Siamo quello che beviamo, da generazioni, fonte di salute</p><br>
            </div>
            <div class="col-footer">
                <h3>Contatti</h3>
                    <p class="roboto-regular" style="font-size: 15px;">
                        <b class="roboto-bold" >SORGENTE TESORINO – MLC s.r.l.</b><br><br>
                        Partita IVA <b class="roboto-bold">02371820503</b>
                    </p>
                    <p class="roboto-regular" style="font-size: 15px;">telefono: <br> <a href="tel:+39 0571 466 534" style="font-size: 15px;">+39 0571 466 534</a></p>
                    <p class="roboto-regular" style="font-size: 15px;" >direzione generale: <br> <a href="mailto:info@tesorino.com">info@tesorino.com</a></p>
                 </ul>
            </div>
            <div class="col-footer">
                <h3>Menu</h3>
                <menu style="text-decoration: underline ;">
                    <p><a href="/acqua">Acqua</a></p>
                    <p><a href="/storia">Storia</a></p>
                    <p><a href="/news">News</a></p>
                    <p><a href="/dove">Dove Siamo</a></p>
                </menu>
            </div>
            <div class="col-footer">
                <h3>Social</h3>
                <div class="socials">
                    <a href="https://www.facebook.com/sorgentetesorino" class="href"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 64 64">
                        <path d="M40.227,12C51.146,12,52,12.854,52,23.773v16.453C52,51.145,51.146,52,40.227,52h-2.089V37.438h5.134l0.807-5.77h-5.941	c0,0-0.009-3.378,0-4.221c0.017-1.649,1.394-2.483,2.577-2.471c1.183,0.012,3.634,0.004,3.634,0.004v-5.317	c0,0-2.123-0.275-4.349-0.298c-1.871-0.019-3.937,0.487-5.604,2.167c-1.696,1.709-1.963,4.254-1.996,7.364	c-0.009,0.9,0,2.772,0,2.772h-5.024v5.77H32.4V52h-8.626C12.854,52,12,51.145,12,40.227V23.773C12,12.854,12.854,12,23.773,12	H40.227z"></path>
                    </svg></a>
                    <a href="https://www.instagram.com/sorgentetesorino/">
                        <svg style="pointer-events: auto;" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 2 24 24">
                            <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
                        </svg>
                    </a>
                    <a href="https://www.tiktok.com/@sorgente.tesorino?_t=8nT7sNLiPyb&_r=1" >
                        <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" x="0px" y="0px" width="35" height="35" viewBox="0 0 449.45 515.38" style="padding-bottom: 7px; margin-left:4px"><path fill-rule="nonzero" d="M382.31 103.3c-27.76-18.1-47.79-47.07-54.04-80.82-1.35-7.29-2.1-14.8-2.1-22.48h-88.6l-.15 355.09c-1.48 39.77-34.21 71.68-74.33 71.68-12.47 0-24.21-3.11-34.55-8.56-23.71-12.47-39.94-37.32-39.94-65.91 0-41.07 33.42-74.49 74.48-74.49 7.67 0 15.02 1.27 21.97 3.44V190.8c-7.2-.99-14.51-1.59-21.97-1.59C73.16 189.21 0 262.36 0 352.3c0 55.17 27.56 104 69.63 133.52 26.48 18.61 58.71 29.56 93.46 29.56 89.93 0 163.08-73.16 163.08-163.08V172.23c34.75 24.94 77.33 39.64 123.28 39.64v-88.61c-24.75 0-47.8-7.35-67.14-19.96z"/></svg>
                    </a>
                </div>
                <p class="roboto-light" style="font-size: 10px; text-align: left;">Stabilimento/imbottigliamento:
                    Via Costa al Bagno, 6 <br>
                    56020 Montopoli in Val d'Arno (Pisa)</p>
            </div>
        </div>
    </div>
    <div class="credits">
        <p class="roboto-light" style="font-size: 12px; padding-bottom: 25px; margin-left: auto; margin-right: auto; text-align: center;">a website by <a class="roboto-regular" style="font-size: 12px;" href="https://www.exousiasmc.com">Exousia SMC</a></p>
    </div>
</footer>
