<!DOCTYPE html>
<html lang="it">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>Homepage Tesorino</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "./build/three.module.js"            
          }
        }
    </script>
</head>
<body>
<%- include('navbar') %>
<div class="canvas-cont" id="">
    <canvas id="canvas3d"></canvas>
</div>
<section class="first">
    <video id="background-video" autoplay loop muted>>
        <source src="/videos/video-HomepageResize.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="logo" src="/assets/logo.png">
                <h3 class="roboto-regular-italic">
                    <span style="background-color: white;">Siamo quello che beviamo, da generazione in generazione</span>
                </h3>
            </div>
            <div class="col col-video">
                <iframe class="videoCartone" src="https://www.youtube.com/embed/GTH8fe3B3rs?si=b7j2GichYZgqMc2m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="grasscontainer">
        <img src="/assets/grass.png" class="grass mobile-hidden" alt="grass">
        <img src="/assets/grass-mobile.png" class="grass desktop-hidden" alt="grass" style="z-index: 1;">
    </div>
</section>
<section class="third" id="part2">
    <div class="container">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black shadow-white dark">L'Acqua nella falda sabbiosa di sorgente Tesorino </h1>
                <p class="roboto-regular shadow-white dark">
                    <span>
                        Sorgente Tesorino è il risultato dell`emersione 
                        dell'acqua piovana che si infiltra nelle colline della zona circostante, è 
                        caratterizzata dallo scorrimento dell`acqua in sabbie 
                        finissime risalenti all'era del Pliocene (circa 15 milioni di anni fa), che 
                        contribuiscono a rilasciare un equilibrato contenuto di sali minerali.
                    </span>
                </p>
            </div>
        </div> 
    </div>
</section>
<section class="fourth" id="part3">  
    <div class="container">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black shadow-white dark">L'Acqua si infiltra e si arricchiesce di minerali </h1>
                <p class="roboto-regular shadow-white dark">
                    <span>
                        Scendendo in profondità e risalendo si arricchisce degli elementi chimici che la 
                        contraddistinguono. Calcio, Magnesio, Sodio e Potassio: le sostanze contenute 
                        nella nostra Acqua
                    </span>
                </p>
            </div>
        </div>  
        <div class="minerals">
            <!-- <img src="/assets/minerale1.png" data-offset=".02" class="shape shape-sm animated fadeInDown">
            <img src="/assets/minerale2.png" data-offset=".02" class="shape shape-md animated fadeInDown">
            <img src="/assets/minerale3.png" data-offset=".02" class="shape shape-lg animated fadeInDown"> -->
        </div>   
    </div>
</section>
<section class="fifth " id="part4">
    <div class="container">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black shadow-white dark">L'acqua estratta e imbottigliata</h1>
                <p class="roboto-regular shadow-white dark">
                    <span>
                        Dagli orizzonti sabbiosi l`Acqua sorge in superficie e viene condotta fino allo 
                        stabilimento, imbottigliata e spedita alla grande distribuzione. Acqua Sorgente 
                        Tesorino: da generazioni, fonte di salute
                    </span>
                </p>
            </div>
        </div>    
    </div>
</section>
<%- include('footer') %>

<script type="module" src="/js/Spline-script.js"></script>
<script type="module" src="/js/index-script.js"></script>

</body>
</html>