<!DOCTYPE html>
<html lang="it">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>Homepage Tesorino</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-index.css">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "./build/three.module.js"            
          }
        }
    </script>
</head>
<body>
<%- include('navbar') %>
<div class="canvas-cont" id="">
    <canvas id="canvas3d"></canvas>
</div>
<section class="first">
    <div class="container sfocato">
        <div class="row">
            <div class="col">
                <img src="/assets/logo.png">
                <h3 class="roboto-regular-italic">
                    Siamo quello che beviamo, da generazione in generazione
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="videoTesorino" id="videoT">
    <div class="nuvole">
        <img src="/assets/clouds.png" data-offset=".02" class="clouds">
    </div>
    <video controls class="animated fadeInDown" src="/videos/videoTesorino.mov" style="filter: drop-shadow(0 0 0.75rem crimson);"></video>
</section>
<section class="second" id="part1">
    <div class="nuvole">
        <img src="/assets/cloud1.png" data-offset=".02" class="secondCloud">
    </div>
    <div class="container">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black">Acqua di Precipitazione</h1>
                <p class="roboto-regular ">
                    Sorgente Tesorino è il risultato dell'acqua piovana che si infiltra nelle colline della zona circostante. L'acqua Sorgente Tesorino nasce in un ambiente incontaminato e protetto, lontano da insediamenti urbani e industriali.
                </p>
            </div>
        </div>
        <img src="/img/rocks.png" class="rocks" alt="rocks">    
    </div>
</section>
<section class="third" id="part2">
    <div class="container blk-layer">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black dark">L'Acqua nella falda sabbiosa di sorgente Tesorino </h1>
                <p class="roboto-regular dark">
                    Le caratteristiche della falda minerale della sorgente, composta per lo più da sabbie finissime risalenti all´era del Pliocene (circa 15 milioni di anni fa), contribuiscono a rilasciare un equilibrato contenuto di sali minerali. L’Acqua Sorgente Tesorino viene intercettata negli orizzonti sabbiosi nel quale scorre. 
                </p>
            </div>
        </div>
        <img src="/assets/minerale1.png" data-offset=".02" class="shape shape-sm animated fadeInDown">
        <img src="/assets/minerale2.png" data-offset=".02" class="shape shape-md animated fadeInDown">
        <img src="/assets/minerale3.png" data-offset=".02" class="shape shape-lg animated fadeInDown">    
    </div>
</section>
<section class="fourth" id="part3">
    <div class="container blk-layer">
        <div class="row">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black dark">L'Acqua si infiltra e si arricchiesce di minerali </h1>
                <p class="roboto-regular dark">Scendendo in profondità, si arricchisce negli elementi chimici che la contraddistinguono. Calcio, Magnesio, Sodio e Potassio: le sostanze contenute nella nostra Acqua.</p>
            </div>
        </div>    
    </div>
</section>
<section class="fifth " id="part4">
    <div class="container">
        <div class="row blk-layer">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black dark">L'acqua estratta e imbottigliata</h1>
                <p class="roboto-regular dark" style="-webkit-text-stroke: 1px black;">
                    Dagli orizzonti sabbiosi viene pompata in superficie, fino allo stabilimento, imbottigliata e spedita
                    alla grande distribuzione. Acqua Sorgente Tesorino: Da generazioni, fonte di salute
                </p>
            </div>
        </div>    
    </div>
</section>
<section class="sixth" id="part5">
    <div class="container" id="specs">
        <div class="row blk-layer">
            <div class="col animated fadeInDown">
                <h1 class="roboto-black dark ">L'Acqua Sorgente Tesorino distribuita nei supermercati.</h1>
                <p class="roboto-regular dark">Scelta da molti, ogni giorno è sulla tavola dei toscani</p>
            </div>
        </div>    
    </div>
</section>
<%- include('footer') %>

<script type="module" src="/js/Spline-script.js"></script>
<script type="module" src="/js/index-script.js"></script>

</body>
</html>