<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>News - Lancio Econatura</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-news.css">
    <link rel="stylesheet" href="/css/style-article.css">
    
</head>
<body>
<%-include ('navbar') %>
<section class="title">
    <div class="container">
        <h1 class="roboto-bold">Lancio Econatura</h1>
    </div>
</section>
<section class="first">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/news/lancio-econatura.jpg" alt="savino-del-bene">¨
                <h1 class="roboto-bold">Lancio Econaturae</h1>
                <p class="roboto-regular">
                    L’impegno da parte di Sorgente Tesorino nel contribuire alla tutela dell’ambiente. L’azienda ha studiato un prodotto che utilizza materiale riciclato e riciclabile. Sorgente Tesorino è una delle pochissime aziende che utilizza il 100% di materiale riciclato per l’intero packaging (bottiglie, tappi, etichette e imballaggio). Per questo prodotto è stato studiato un nuovo restyling di immagine del prodotto denominato “Econatura”.                </p>
                <a href="/news" style="font-size: 0.8rem;">← Torna alle news</a>
            </div>
            <div class="col-instagram">
                <div class="col-instagram">
                    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9f8ef608-e27e-427a-95dd-eca6e2f9b901" data-elfsight-app-lazy></div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include ('footer') %>
    <script type="module" src="/js/script-article.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>