<div class="tracker"></div>
<nav class="mask">
  <a href="/"><img src="/assets/logo-wide.png" style="max-width: 200px;"></a>
  <ul class="list">
    <li><a class="PremierLeague vintage" href="/acqua">Acqua</a></li>
    <li><a class="PremierLeague vintage"href="/storia">Storia</a></li>
    <li><a class="PremierLeague vintage"href="/news">News</a></li>
    <li><a class="PremierLeague vintage"href="/">Contact</a></li>
  </ul>
  <button class="menu">Menu</button>
</nav>
<script type="module" src="/js/script.js"></script>