<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>Tesorino News</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-news.css">
    
</head>
<body>
    <%- include('navbar') %>
    <section class="title">
        <div class="container">
            <h1 class="roboto-black">NOTIZIE</h1>
            <p class="roboto-light">la sezione riservata alle noizie e iniziative della sorgente Tesorino</p>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row-notizie" id="newsContainer">
                        <div class="notizia">
                            <a href="/news">
                                <div class="info">
                                    <img src="/news/lancio-econatura.jpg">
                                    <div class="testo">  
                                        <h3>Lancio Econatura</h3>
                                        <p>
                                            L’impegno da parte di Sorgente Tesorino nel contribuire alla tutela dell’ambiente. L’azienda ha studiato un prodotto che utilizza materiale riciclato e riciclabile...
                                        </p>
                                    </div>  
                                </div>
                            </a>
                        </div>
                        <div class="notizia">
                            <a href="/news">
                                <div class="info">
                                    <img src="/news/savino-del-bene.jpg">
                                    <div class="testo">  
                                        <h3>Savino del bene</h3>
                                        <p> Sorgente Tesorino è un’acqua particolarmente adatta per lo sport e, per rafforzare quest’immagine, figura tra i main sponsor... 
                                        </p>
                                    </div>  
                                </div>
                            </a>
                        </div>
                        <div class="notizia">
                            <a href="/sponsorizzazioni">
                                <div class="info">
                                    <img src="/news/sponsorizzazioni.jpg">
                                    <div class="testo">  
                                        <h3>Nazionale del Mediterraneo</h3>
                                        <p>Sorgente Tesorino è onorata di essere sponsor e acqua ufficiale della Nazionale del Mediterraneo che parteciperà ai Campionati della Pace...
                                        </p>
                                    </div>  
                                </div>
                            </a>
                        </div>    
                    </div>                  
                </div>
                <div class="col-instagram">
                    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9f8ef608-e27e-427a-95dd-eca6e2f9b901" data-elfsight-app-lazy></div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>

</body>
</html>