<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>Notizie Tesorino</title>
=======
    <title>La nostra Storia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
>>>>>>> 269bfe3630bc2a920cefd1baf6171d1e2428f65c
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-news.css">
    <link rel="stylesheet" href="/css/style-article.css">
    
</head>
<body>

<section class="title">
    <div class="container">
        <h1 class="roboto-bold">Questo è un titolo di prova</h1>
    </div>
</section>
<section class="first">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/news/sponsor.jpeg" alt="Questo è un titolo di prova">
                <p class="roboto-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo lectus tellus, sit amet pretium orci consequat ac. Mauris euismod ligula at odio pellentesque, in tristique mauris commodo. Sed orci nisl, eleifend aliquet accumsan sit amet, gravida eget purus. Nam vestibulum malesuada egestas. Donec sit amet nibh aliquet, varius eros vitae, rutrum elit. Praesent accumsan est ut pharetra viverra. Nullam ac nisi ornare, blandit velit ac, pellentesque risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ultricies risus et lacus fermentum iaculis. Aliquam eu tortor mi. Etiam sodales, felis nec sollicitudin porta, tellus velit blandit elit, ac faucibus magna erat sit amet ipsum.

Ut non urna eget est hendrerit hendrerit at fermentum lectus. Donec blandit eleifend nisl id tempor. In feugiat lacus at risus consectetur, a sodales magna suscipit. Etiam non turpis ipsum. Vivamus ultricies enim eu est fringilla gravida. Proin lacus lorem, tincidunt ac egestas finibus, vestibulum iaculis dui. Donec eu maximus dui. Fusce id elit justo. Nam sem dolor, semper quis nulla in, mollis sodales diam. Curabitur eget dolor luctus, tristique mi eu, placerat risus. Cras venenatis dapibus ante, ac elementum ex aliquam tempor. Nulla sit amet ipsum purus. Aliquam elementum commodo felis, pharetra accumsan elit porttitor at. Duis lacinia dui nec sapien scelerisque porta. Ut non dui ullamcorper, vulputate lorem sed, tempor ipsum.</p>

            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</section>
<section class="news">
    <div class="container">
        <h2 class="roboto-bold">Altri articoli</h2>
        <div class="row-notizie" id="newsContainer">

        </div>
    </div>
</section>




    <script type="module" src="/js/script-article.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>