<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>Tesorino News</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-news.css">
    
</head>
<body>
    <%- include('navbar') %>
    <section class="title">
        <div class="container">
            <h1 class="roboto-black">NOTIZIE</h1>
            <p class="roboto-light">la sezione riservata alle noizie e iniziative della sorgente Tesorino</p>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row-notizie" id="newsContainer">
                        <div class="notizia">
                            <div class="info">
                                <img src="/img/company.jpg">
                                <div class="testo">  
                                    <h3>Titolo Notizia</h3>
                                    <p>Estratto della notizia preso direttamente dalla notizia stessa, qui si parla di aqua e di bollicine...
                                        <a href="/news" style="display: inline; text-decoration: underline;">clicca qui</a>
                                    </p>
                                </div>  
                            </div>
                        </div>
                        <div class="notizia">
                            <div class="info">
                                <img src="/img/company.jpg">
                                <div class="testo">  
                                    <h3>Titolo Notizia</h3>
                                    <p>Estratto della notizia preso direttamente dalla notizia stessa, qui si parla di aqua e di bollicine...
                                        <a href="/news" style="display: inline; text-decoration: underline;">clicca qui</a>
                                    </p>
                                </div>  
                            </div>
                        </div>
                        <div class="notizia">
                            <div class="info">
                                <img src="/img/company.jpg">
                                <div class="testo">  
                                    <h3>Titolo Notizia</h3>
                                    <p>Estratto della notizia preso direttamente dalla notizia stessa, qui si parla di aqua e di bollicine...
                                        <a href="/news" style="display: inline; text-decoration: underline;">clicca qui</a>
                                    </p>
                                </div>  
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="col-categorie">
                    <div class="cat">
                        <h3>Categorie</h3>
                        <p><a>acqua</a> <a>natura</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>
    <script type="module" src="/js/script-news.js"></script>

</body>
</html>