<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>News - Savino Del Bene</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-news.css">
    <link rel="stylesheet" href="/css/style-article.css">
    
</head>
<body>
<%-include ('navbar') %>
<section class="title">
    <div class="container">
        <h1 class="roboto-bold">Savino del Bene</h1>
    </div>
</section>
<section class="first">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/news/savino-del-bene.jpg" alt="savino-del-bene">¨
                <h1 class="roboto-bold">Savino Del Bene</h1>
                <p class="roboto-regular">
                    Sorgente Tesorino è un’acqua particolarmente adatta per lo sport e, per rafforzare quest’immagine, figura tra i main sponsor della squadra femminile di pallavolo Scandicci “Savino Del Bene”, che quest’anno ha fatto la finale del massimo campionato ed ha partecipato alla Champions League.
                </p>
                <a href="/news" style="font-size: 0.8rem;">← Torna alle news</a>
            </div>
            <div class="col-instagram">
                <div class="col-instagram">
                    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9f8ef608-e27e-427a-95dd-eca6e2f9b901" data-elfsight-app-lazy></div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include ('footer') %>
    <script type="module" src="/js/script-article.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>