<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('head') %>
    <title>La nostra Storia</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-storia-mobile.css">
    <link rel="stylesheet" href="/css/style-storia.css">
    <link rel="sript" href="storia-script.js">    
</head>
<body>
    <%- include('navbar') %>
    <div class="container-desktop">
        <div class="book">
            <input type="radio" name="page" id="page-1" checked />
            <label class="page cover" for="page-3" id="cover-first">
                <h1>Storia</h1><img src="/assets/logorosso.png">
            </label>
            <label class="page cover" for="page-1" id="cover-second"></label>
            <input type="radio" name="page" id="page-3" />
            <label class="page" for="page-5">
                <span class="polaroid rotate5">
                    <img src="/img/storia/medaglietta.png" style="margin-top: 20%;">
                </span>
                <h2>1932</h2>
                <p>Nelle campagne intorno a Montopoli Val d'Arno (Pisa) un contadino trovando la medaglietta in prossimità di una sorgente naturale con qualità depurative e terapeutiche esclamò “ho trovato un tesoro!” cosi è nato il nome “Tesorino”.</p>
            </label>
            <label class="page" for="page-3">
                <span class="item">
                    <span class="polaroid rotate-7">
                        <img src="/img/storia/Foto-Tesorino-ricordi.jpg" style="margin-top: 10%;">
                    </span>
                </span>
                <h2>1941</h2>
                <p>Nel 1941 fu costituita la società Sorgente Tesorino ed iniziò l’imbottigliamento per la commercializzazione di quest’acqua in Toscana. Inizialmente le operazioni di imbottigliamento venivano compiute a mano.</p>
            </label>
            <input type="radio" name="page" id="page-5" />
            <label class="page" for="page-7">
                <span class="polaroid rotate7">
                    <img src="/img/storia/Foto-Tesorino-Bottiglie-vetro.jpg" style=" height: 100%; width: auto; margin-left: 20%;">
                </span>
                <h2>1972</h2>
                <p>Costruito, a valle della Sorgente un moderno stabilimento con ciclo di imbottigliamento in vetro completamente automatizzato.</p>
                        </label>
            <label class="page" for="page-5">
                <span class="polaroid rotate-5">
                    <img src="/img/storia/Tesorino-brick.jpg" style=" height: 100%; width: auto; margin-left: 20%;">
                </span>
                <h2>1992</h2>
                <p>Contemporaneamente alla produzione in vetro, inizio confezionamento acqua in brick.</p>
            </label>
            <input type="radio" name="page" id="page-7" />
            <label class="page" for="page-9">
                <span class="polaroid rotate5">
                    <img src="/img/storia/Tesorino-prima produzione-PET.jpg" style=" height: 100%; width: auto; margin-left: 20%;">
                </span>
                <h2>1998</h2>
                <p>Inaugurazione impianto PET in sostituzione degli impianti in vetro e brick</p>
            </label>
            <label class="page" for="page-7">
                <span class="polaroid rotate-5">
                    <img src="/img/storia/acqua-gassata-e-mezzo-litro.jpg" style=" height: 100%; width: auto; margin-left: 20%;">
                </span>
                <h2>2003</h2>
                <p>Prima produzione acqua frizzante e prima produzione bottiglie da mezzo litro</p>
            </label>
            <input type="radio" name="page" id="page-9" />
            <label class="page" for="page-11">
                <span class="polaroid rotate7">
                    <img src="/img/storia/PREMIO-EXPO-PARIGI.jpg" style=" margin-top: 7%;">
                </span>
                <h2>2004</h2>
                <p>Premio miglior acqua gassata Acqua-Expo di Parigi.
                </p>
            </label>
            <label class="page" for="page-9">
                <span class="polaroid rotate-7">
                    <img src="/img/storia/Produzione-bottiglia-moderna.PNG" style=" height: 100%; width: auto; margin-left: 20%;">
                </span>
                <h2>2019</h2>
                <p>Produzione bottiglia moderna.
                </p>
            </label>
            <input type="radio" name="page" id="page-11">
            <div class="page" style="pointer-events: none;">
                <span class="polaroid rotate-5">
                    <img src="/img/storia/BOTTIGLIA-ECO.jpg" style=" height: 100%; width: auto; margin-left: 20%; pointer-events: all;">
                </span>
                <h2>2024</h2>
                <p>Lancio bottiglia ECONATURA</p>
            </div>
            <label class="page cover" for="page-13" id="cover-secondlast"></label>
            <label class="page cover" for="page-11" id="cover-last"></label>
            <input type="radio" name="page" id="page-13">

        </div>
    </div>
    <section class="storia-mobile">
        <%- include('storia-mobile') %>
    </section>
    <%- include('footer') %>
    <script>
       document.addEventListener('DOMContentLoaded', function() {
    const firstCover = document.getElementById('cover-first');
    const secondCover = document.getElementById('cover-second');
    const lastCover = document.getElementById('cover-last');
    const secondLastCover = document.getElementById('cover-secondlast');
    const book = document.querySelector('.book');

    const mediaQuery = window.matchMedia('(max-width: 768px)');

    if ($(window).width() < 760) {
        if (firstCover) {
            firstCover.addEventListener('click', function() {
                book.style.transform = 'translate(1%,-100%)'; // Animazione per schermi piccoli
            });
        }

        if (secondCover) {
            secondCover.addEventListener('click', function() {
                book.style.transform = 'translate(1%,-100%);'; // Animazione per schermi piccoli
            });
        }

        if (lastCover) {
            lastCover.addEventListener('click', function() {
                book.style.transform = 'translate(1%,-100%);'; // Animazione per schermi piccoli
            });
        }

        if (secondLastCover) {
            secondLastCover.addEventListener('click', function() {
                book.style.transform = 'translate(1%,-100%);'; // Animazione per schermi piccoli
            });
        }
    } else {
        if (firstCover) {
            firstCover.addEventListener('click', function() {
                book.style.transform = 'translate(-50%, -50%)'; // Animazione per schermi grandi
            });
        }

        if (secondCover) {
            secondCover.addEventListener('click', function() {
                book.style.transform = 'translate(-75%, -50%)'; // Animazione per schermi grandi
            });
        }

        if (lastCover) {
            lastCover.addEventListener('click', function() {
                book.style.transform = 'translate(-50%, -50%)'; // Animazione per schermi grandi
            });
        }

        if (secondLastCover) {
            secondLastCover.addEventListener('click', function() {
                book.style.transform = 'translate(-25%, -50%)'; // Animazione per schermi grandi
            });
        }
    }
});

    </script>
</body>
</html>