<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La nostra Storia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-storia.css">
    <link rel="sript" href="storia-script.js">    
</head>
<body>
<%- include('navbar') %>
<!--  Titolo  --> 
<section class="first">
    <div class="container">
        <h1 class="vintage">LA NOSTRA STORIA</h1>
        <h4>sorgente tesorino</h4>
            <div class="col">
                <hr>    
            </div>   
        </div> 
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3 class="vintage">1978</h3>
</section>
<section class="second">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="img/company.png" class="img-fluid" alt="Company photo">
            </div>
            <div class="col-8 dx">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis commodo egestas. Nam ornare imperdiet risus id cursus. Maecenas dignissim enim sit amet enim maximus, a blandit ipsum finibus.
                    Pellentesque suscipit ante est, nec molestie ante mattis vitae. Etiam imperdiet ut risus sed aliquam.</p>
        
            </div>
        </div>   
        <img src="/assets/tree.png" class="tree"> 
    </div>
</section>
<section class="half" style="margin-top: -200px;">
    <div class="vl"></div>
    <h3 class="vintage">1990</h3>
</section>
<section class="third">
    <div class="container">
        <div class="row">
            <div class="col-2 dx">
                <img src="img/fabbrica.jpg" class="img-fluid" alt="Company photo">
            </div>
            <div class="col-8 sx">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis commodo egestas. Nam ornare imperdiet risus id cursus. Maecenas dignissim enim sit amet enim maximus, a blandit ipsum finibus.
                    Pellentesque suscipit ante est, nec molestie ante mattis vitae. Etiam imperdiet ut risus sed aliquam.</p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3 class="vintage">2001</h3>
</section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="img/company.png" class="img-fluid" alt="Company photo">
            </div>
            <div class="col-8 dx">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis commodo egestas. Nam ornare imperdiet risus id cursus. Maecenas dignissim enim sit amet enim maximus, a blandit ipsum finibus.
                    Pellentesque suscipit ante est, nec molestie ante mattis vitae. Etiam imperdiet ut risus sed aliquam.</p>
        
            </div>
        </div>    
    </div>
</section>

</body>
</html>