<section class="timeline">
    <div class="container">
    </div>  
</section>
<section class="first">
    <div class="container">
        <h1 class="roboto-black" style="color: black;">LA NOSTRA STORIA</h1>
        <h4 class="roboto-thin-italic">sorgente tesorino</h4>
            <div class="col">
                <hr>    
            </div>   
        </div> 
    </div>
</section>
<section class="trentadue">
    <section class="half">
        <div class="vl"></div>
        <h3>1932</h3>
    </section>
    <section class="second">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="img/storia/medaglietta.png" class="img-fluid" alt="medaglietta">
                </div>
                <div class="col-8">
                    <p>Nelle campagne intorno a Montopoli Val d'Arno (Pisa) un contadino trovando la medaglietta in prossimità di una sorgente naturale con qualità depurative e terapeutiche esclamò “ho trovato un tesoro!” cosi è nato il nome “Tesorino”. 
                    </p>
            
                </div>
            </div>   
        </div>
    </section>
    <img src="/assets/tree.png" class="tree"> 
</section>
<section class="half" style="margin-top: -200px;">
    <div class="vl"></div>
    <h3>1941</h3>
</section>
<section class="third">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="/img/storia/Foto-Tesorino-ricordi.jpg" class="img-fluid" alt="Company photo">
            </div>
            <div class="col-8 animated">
                <p>Nel 1941 fu costituita la società Sorgente Tesorino ed iniziò l’imbottigliamento per la commercializzazione di quest’acqua in Toscana. Inizialmente le operazioni di imbottigliamento venivano compiute a mano. 
                </p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>1972</h3>
</section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/Foto-Tesorino-Bottiglie-vetro.jpg" class="img-fluid" alt="Tesorino bottiglia di vetro" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p>Costruito, a valle della Sorgente un moderno stabilimento con ciclo di imbottigliamento in vetro completamente automatizzato.
                </p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>1992</h3>
</section>
<section class="fifth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/Tesorino-brick.jpg" class="img-fluid" alt="Tesorino brick acqua" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p>Contemporaneamente alla produzione in vetro, inizio confezionamento acqua in brick.
                </p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>1998</h3>
</section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/Tesorino-prima produzione-PET.jpg" class="img-fluid" alt="Tesorino prima bottiglia PET" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p>Inaugurazione impianto PET in sostituzione degli impianti in vetro e brick</p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>2003</h3>
</section>
<section class="fifth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/acqua-gassata-e-mezzo-litro.jpg" class="img-fluid" alt="Tesorino prima acqua gassata e bottiglie da mezzo litro" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p>Prima produzione acqua gassata e prima produzione bottiglie da mezzo litro</p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>2004</h3>
</section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/PREMIO-EXPO-PARIGI.jpg" class="img-fluid" alt="Tesorino PREMIO MIGLIOR ACQUA GASSATA" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p style="text-align: center;">Premio miglior acqua gassata Acqua-Expo di Parigi.</p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>2019</h3>
</section>
<section class="fifth">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/Produzione-bottiglia-moderna.png" class="img-fluid" alt="Produzione Bottiglia Moderna" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p style="text-align: center;">Produzione bottiglia moderna</p>
        
            </div>
        </div>    
    </div>
</section>
<section class="half">
    <div class="vl"></div>
    <h3>2024</h3>
</section>
<section class="fourth" style="margin-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-2 animated">
                <img src="img/storia/BOTTIGLIA-ECO.JPG" class="img-fluid" alt="Tesorino bottiglia ECONATURA" style="max-width: fit-content;">
            </div>
            <div class="col-8 animated">
                <p style="text-align: center;">Lancio bottiglia ECONATURA</p>
        
            </div>
        </div>    
    </div>
</section>