:root {
    --green: #1A492A;
    --white: #F1F8EC;
    --red: rgb(237, 29, 29);
    --aqua: rgb(50, 150, 200);
    --border-width: 7px;
}

@font-face {
  font-family: 'PremierLeague';
  src:url('../fonts/PremierLeague/PremierLeague.ttf.woff') format('woff'),
      url('../fonts/PremierLeague/PremierLeague.ttf.svg#PremierLeague') format('svg'),
      url('../fonts/PremierLeague/PremierLeague.ttf.eot'),
      url('../fonts/PremierLeague/PremierLeague.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/* HTML: <div class="loader"></div> */


.page-loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #272727;
	z-index: 1000;
	.txt{
		color: #666;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-weight: bold;
		line-height: 1.5;
	}
}

/* SPINNER ANIMATION */
.spinner {width: 80px;
height: 40px;
background:
  radial-gradient(circle 11px at top,#0000 94%,#b0e5f3) 0 20px,
  radial-gradient(circle 11px at top,#0000 94%,#5dc1e4) 0 10px,
  radial-gradient(circle 11px at top,#0000 94%,#008cd9) 0 0   ;
background-size: 20px 100%;
background-repeat: repeat-x;
animation: l7 1s infinite linear;
}
@keyframes l7 {
50%  {background-position: 10px 15px,-10px 12px,15px 8px}
100% {background-position: 20px 20px,-20px 10px,20px 0px}
}

ol, li {
  margin: 0px;
  padding: 0px;
}

ul{
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}

* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    width: 100%;
    font-size: 2rem;
    font-family: Helvetica, Verdana, sans-serif;
  }
nav {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.05));
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    &.mask {
      mask-image: linear-gradient(black 70%, transparent);
      -webkit-mask-image: linear-gradient(black 70%, transparent);
    }
  
    @media (min-width: 640px) {
      padding: 16px 50px 30px 50px;
    }
}

nav .is-full-width{
  position: absolute;
  width: 100vw;
  top: 16px;
}

nav .is-visible{
  display: block;
  transition: ease-in 0.3s;
  font-size: 30px;
  margin-top: 35vh;
  margin-bottom: 50vh;

  right: 50%;
}
nav.is-hidden {
    transform: translateY(-100%);
}
  a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .list {
    list-style-type: none;
    margin-left: auto;
    display: none;
    @media (min-width: 640px) {
      display: flex;
    }
    li {
      margin-left: 20px;
    }
  }
  .search {
    display: inline-block;
    padding: 0;
    font-size: 0;
    background: none;
    border: none;
    margin-left: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    @media (min-width: 640px) {
      margin-left: 20px;
    }
    
    &::before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: center/1.3rem 1.3rem no-repeat url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2015.17%2014.81%27%20width=%2715.17%27%20height=%2714.81%27%3E%3Cpath%20d=%27M6,.67A5.34,5.34,0,1,1,.67,6,5.33,5.33,0,0,1,6,.67ZM9.86,9.58l4.85,4.75Z%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-width=%271.33%27%2F%3E%3C%2Fsvg%3E");
    }
  }
  /* Nascondi il menu hamburger per schermi grandi */
.menu {
  display: none;
}

/* Mostra il menu hamburger solo per schermi piccoli */
@media (max-width: 640px) {
  .menu {
    display: block;
    /* Aggiungi stili per l'icona del menu hamburger */
    width: 40px;
    margin: 5px;
    background-color: var(--red);
    border: none;
    position: fixed;
    right: 20px;
    top: 11px;
    z-index: 101; /* Assicurati che l'icona sia sopra la navigazione */
    cursor: pointer;
  }
  /* Stili per le linee del menu hamburger */
  .menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    border: 1px solid black;
    margin: 6px auto;
    transition: all 0.3s ease;
  }
  /* Animazione delle linee quando il menu è aperto */
  .menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
  }
  .menu.open span:nth-child(2) {
    opacity: 0;
  }
  .menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
  }

  nav .list{
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .list li {
    margin-left: 0px;
  }
}


body {
    background-color: #F1F8EC;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #F1F8EC;
}


h1, h2, h2 {
    font-family: "PremierLeague";
    color: var(--green);
    font-weight: 700;
}

h1 {
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;

}

p {
    position: relative;
    margin-top: 0;
    color: black;
    font-size: 1.5rem;
    text-align: center;

}

a {
  color: var(--green);
}

a:hover {
    text-decoration: underline;    
}

.btn-primary {
    background-color: rgba(0,0,0,0);
    color: var(--green);
    border-color: var(--green);
    border-radius: 25px;
}
    .btn-primary:hover {
        background-color: var(--green);
        color: white;
        border-color: var(--green);
    }


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

.vintage{
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke: out;
  text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.PremierLeague{
  font-family: "PremierLeague";
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.row{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.three{
  grid-template-columns: auto auto auto;
}

.col{
  display: inline-grid;
  margin-left: auto;
  margin-right: auto;
}

.col-8{
  display: inline-grid;
}

.col-2{
display: inline-grid;
margin-right: auto;
margin-left: auto;
grid-column-start: 1;
grid-column-end: 2;
}

  
footer{
  background-image: linear-gradient(rgba(0,0,0,1),rgb(15, 15, 15));
  font-size: 15px;
  color: var(--white);

}

footer p{
  margin-bottom: 5px;
  text-align: left;
  color: var(--white);
}

footer a{
  color: var(--white);
  font-size: 15px;
}

footer .row-footer{
  display: block;
  padding: 0px;
  padding-top: 50px;
  grid-template-columns: auto;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-content: space-evenly;
}

footer .col-footer{
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  top: 0;
}


footer .container-footer{
  top: 50px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer h3{
  color: var(--white);
  font-size: 25px;
  text-align: left;
}

.socials{
  margin-left: -0px;
}

.footer svg{
  margin-top: auto;
}

/* Cursor tracker */
.tracker {
  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid var(--red);
  pointer-events: none;
  mix-blend-mode: none;
  opacity: 0;
  transition: top 0.075s, left 0.075s, opacity 0.5s;
}

  @media only screen and (min-width: 768px) {

    
    nav{
      font-size: 25px;
    }

    .col-2{
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .row{
      gap: 10px;

    }

    footer .row-footer{
      gap: 10%;
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
    

  }

.animated{
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.animated {
  opacity: 0;
}

.animated.start-animation {
  animation: fadeInDown 1.5s forwards;
}