html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  
  *, *::before ,*::after {
    box-sizing: border-box;
  }

  .container-desktop{
    background-image: radial-gradient(ellipse at center, blanchedalmond 0%, tan 100%);
    height: 90vh;
  }




  .storia-mobile{
    display: none;
  }

  .book {
    width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 70vw;
    position: relative;
    left: 50%;
    top: 50vh;
    transform: translate(-75%, -50%);
    perspective: 1500px;
    user-select: none;
    transition: all 0.35s;
  }
  
  .polaroid{
    margin-top: 20px;
    z-index: 999;
    display: block;
    background-image: radial-gradient(blanchedalmond,rgb(212, 195, 169));
    width: 150px;
    height: 150px;
    border: 10px solid white;
    border-bottom: 30px solid white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.35s;

    img{
        width: 100%;
        filter: sepia(80%);
    }

  }

  .rotate-7{
    rotate: -7deg;
  }


  .rotate5{
    rotate: 5deg;
  }

  .rotate7{
    rotate: 7deg;
  }

  .rotate-5{
    rotate: -5deg;
  }

  .polaroid:hover img{
    filter: none;
    transition: all 0.35s;
  }



    .polaroid:hover{
    transform: scale(2, 2) rotate(0deg) translateY(10vh)!important;
    rotate: 0deg;
    transition: all 0.35s;
  }


  .page {
    width: 49%;
    height: 98%;
    padding: 20px;
    position: absolute;
    top: 1%;
    left: 50%;
    font-size: 16px;
    line-height: 18px;
    color: black;
    background-color: blanchedalmond;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
    transition: transform .5s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: left center;
    z-index: 4;
  
    &:nth-of-type(2n) {
      left: 1px;
      transform-origin: right center;
      transform: rotateY(0);
  
      &:not(.cover) {
        left: calc(1% + 1px);
      }
    }
  
    h2 {
      text-align: center;
    }
    
    p{  
        z-index: -1;
        font-size: 1.2rem;
        text-align: justify;
    }

    h2 + p::first-letter {
      font-size: 44px;
      float: left;
      height: 44px;
      line-height: 36px;
      vertical-align: baseline;
      margin-right: 6px;
      border-radius: 5px;
    }

    img{
        width: 100%;
    }
  }
  
  input[type=radio] {
    display: none;
  }
    
  
  input:checked {
    

    & ~ .page {
      transform: rotateY(0);
      
    }
  
    & ~ .page:nth-of-type(2n) {
      transform: rotateY(180deg);
    }
  
    & ~ .page:nth-of-type(2n-1) {
      z-index: 3;
    }
  
    & ~ .page:nth-of-type(2n-1) ~ .page:nth-of-type(2n-1) {
      z-index: 1;
    }
  
    & + .page + .page + input + .page {
      z-index: 2 !important;
    }
  }
  
  .cover {
    width: 50%;
    height: 100%;
    top: 0;
    border-radius: 0 3px 3px 0;

    background-color: maroon;
    background-image: url("../assets/coverbook.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
    h1 {
      color: #ec5757;
      text-align: center;
      text-shadow: -1px -1px 2px rgba(0,0,0,.5);
      margin-top: 50%;
      position: relative;
  
      &::after {    
        content: "";
        display: block;
        width: 60px;
        position: absolute;
        bottom: -20px;
        margin-left: -30px;
        left: 50%;
        border-top: 1px solid #ec5757;
        box-shadow: -1px -1px 2px rgba(0,0,0,.5);
      }
    }

    img{
        margin-left: 33.3%;
        margin-top: 10%;
        width: 33.3%;
        filter: sepia(80%);
    }

    & + .cover {
      border-radius: 3px 0 0 3px;
    }
  
    &:first-of-type, &:last-of-type {

  
      &::before {
        content: "";
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 2px dashed rgba(0,0,0,.2);
        position: absolute;
        top: 9px;
        left: 9px;
      }
    }
  }

@media only screen and (min-width:1024px){

  .storia-mobile{
    display: none;
  }
    .book{
        width: 60vw;
        height: 40vw;
        max-height: 70vh;
        max-width: 105vh;
    }
}

@media only screen and (max-width:767px){

.storia-mobile{
  display: block;
}

.storia-desktop{
  display: none;
}
  
.container{
  overflow: hidden;
}

  .polaroid{
    width: 20vw;
    height: 20vw;
  }
  .book{
    left: -50%;
    transform: translate(1%,-100%);
  }  
  .page{
    width: 98%;
    height: 70vh;
    transition: transform .5s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: left center;

    &:nth-of-type(2n) {
      left: -50vw;
      transform-origin: right center;
      transform: rotateY(0);
  
      &:not(.cover) {
        left: calc(-50% + 1px);
      }
    }
  }


}