body{
    background-image: url('../img/sfondo-cielo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 0px;

    svg{
        display: inline-block;
        width: 50px;
        height: auto;
    }

    h3{
        text-align: center;
        font-size: 0.7rem;
    }
}

.title h1{
    padding: 0px 0;
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.mappaNegozi{
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url('../img/sfondo-erba.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.search-container {
    display: block;
    position: relative;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-image: linear-gradient(var(--green),rgb(48, 72, 36));
    color: white;
}

.provinciaContainer, .cittaContainer{
    display: block;
}

select{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: thin;
    border-radius: 10px;
    filter: drop-shadow( 0.5px 1px #000000);
    max-width: fit-content;
    margin-left: auto;

}

label{
    font-size: 1.5rem;
    display: block;
}

.negoziContainer{
    width: 80%;
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: scroll;
    text-align: left;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.negoziContainer::-webkit-scrollbar {
    display: none;
  }

#negozi {
    
    h2{
        font-size: 1.3rem;
    }

    li{
        font-size: 0.7rem;
        padding: 10px;
        border-bottom: 1px solid var(--green);
        background-color: rgba(255, 255, 255, 0.109);
        backdrop-filter: blur(10px);

    }
    li:hover{
        background-color: rgba(0, 0, 0, 0.109);
    }

    h3{
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    ul {
        list-style-type: none;
      }
}

#map{
    z-index: 1;
    position: absolute;
    display: block;
    height: 450px ;
    width: 80vw;
    margin: 10vw;
    border: 3px solid black;

}

.marker-cluster {
    background-color: rgba(26, 165, 26, 0.6);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width:500px){
    .title{
        width: 80vw;
    }
    
    .title h1{
        padding: 30px 0;
        text-align: left;
    }

    .mappa{
        margin-top: -10vw;
    }

    #map{
        margin-top: 0px;
        margin: 10vw;
    }

    
}

@media only screen and (min-width:768px){
    .provinciaContainer, .cittaContainer{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px;
    }

    .mappaNegozi{
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        gap: 5%;
        height: 60vh;
        padding-bottom: 50px;
    }

    #map{
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 50vh;
    }
    .negoziContainer{
        width: 90%;
        margin-left: 20%;
        margin-right: auto;
    }
}

@media only screen and (min-width:1024px){
    .mappaNegozi{
        height: 80vh;
    }

    .negoziContainer{
        max-height: none;
    }
    #map{
        width: 35%;
        height: 70vh;
    }

    .title{
        text-align: left;
        
        h3{
            text-align: left;
        }
    }
}
