body{
    background-color: white;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
 }

 .container{
    padding: 20px;
}

.title .container{
    padding: 0px;
}

.title{
    padding-top: 70px;
    display: flow-root;
    padding-bottom: 50vh;


}
h1, h2{
    text-align: center;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}

.title h2{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: black;
    display: inline;
}

.title .row{
    background-color: rgba(197, 197, 198, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px); 
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
    margin-top: -10px;
}


.title .col, .second .col, .articles col{
    grid-column-start: 1;
    grid-column-end: 3;
}




.second {
    background-image: linear-gradient(transparent 70%,white);
}
.second .container{
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(linear, right 10%, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: -webkit-gradient(linear, right 10%, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, -10)));
   
}
.second h1, .articles h1{
    margin-top: 100px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    width: 80%;
    font-weight: 400;
    color: black;
    font-size: 1.2rem;
}

.second img{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding: 20px;

}

  
.controls {
   text-align: right;
   margin-bottom: 1em;
}
  
.controls li {
    display: inline;
}
  
button {
    background: #000;
    color: #fff;
    border: 0;
    font-size: 0.85rem;
    border-radius: 0.25rem;
}
  
  /*
  Custom elements are inline by default
  */
toggle-section {
    display: block;
}

.sectionTitle{
    font-size: 30px;
}
  
  /*
  Only applies if script runs and 
  `role="region"` is added
  */
toggle-section[role="region"] {
    border-width: 2px 0;
    border-style: solid;
  }
  
  toggle-section[role="region"] + toggle-section {
    border-top: 0;
  }

.residuo{
    background-color: white;
        .titolo{
            background: var(--green);

            h1{
                color: var(--white);
            }
        }
    .contenuto{
        margin-top: 50px;
        p{  
            font-size: 1.2rem;
            text-align: justify;
        }

        h3{
            font-size: 1.5rem;
        }
    }
    .row{
        display: block;
        .col{
            display: block;
        }
    }

        

}



.third {
    background-color: white;
}

.third .col:hover{
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

.article-content {

    padding: 20px;
    background-color: #f9f9f9;
}

.active{
    display: block;
}


.col.active {
    background-color: #f9f9f9;
}

.third img{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.third h3{
    color: var(--green);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    font-size: 1.2rem;
}

.third p{
    font-size: 0.6rem;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.463)
}

.ArticlesTitles .col{
    margin-left: 0px;
    margin-right: 0px;
}

.articles {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    tr,td{
        border: 2px solid #ddd;
    }
    p{
        color: rgba(0, 0, 0, 0.863);
        font-weight: 400;
        text-align: left;
        font-size: 0.8rem;
    
    }
    .row{
        padding-top: 0px;
        margin-top: 0px;

    }

    li{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    table{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    b{
        font-size: 0.5rem;
        font-weight: 400;
    }
}

@media only screen and (min-width: 475px) {

    .title h2{
        font-size: 1.4rem;
    }
    

    .col .half{
        max-width: 60%;
    }

    .ArticlesTitles {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0px;
    }

    .third .col{
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {

    

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
    
    .second h1{
    width: 30%;
}

    .second .col,.articles .col{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .second .half, .articles .half{
        margin: 30px;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .col .half{
        max-width: 60%;
    }

    .residuo{
        .row{
            display: grid;
            grid-template-columns: auto auto;
            gap: 5%;
        }

        .col{
            margin: 0px;
        }
    }

    .ArticlesTitles{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0px;
    }

    .third .col{
        padding: 20px;
    }

    .third h3{
        font-size: 1rem;
    }

    .residuo{
        background-color: white;
            .titolo{
                background: var(--green);
    
                h1{
                    color: var(--white);
                }
            }
        .contenuto{
            p{  
                font-size: 0.8rem;
            }
    
            h3{
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {

    p{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .row{
        padding: 50px;
        padding-bottom: 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .title .row{
        padding: 0px;
    }

    .residuo .container{
        padding-top: 0;
    }

    .title .container{
        background-position-y: 70%;
        background-size: auto;
    }
    

    
}
