.container{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  
  
  .first{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
  }
  
  .first h1{
    margin: 70px 10px 20px;
    text-align: center;
  }
  
  .first h4{
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
  
  .half{
    height: 100px;
    margin-bottom: 50px;
  }
  
  .half h3{
    font-size: 3rem;
    text-align: center;
    padding-top: 130px;
    position: relative;
    z-index: 1;
  }
  
  .col-8 p {
    text-align: justify;
  }

  .col-8 p{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .col-8{
    display: block;
    grid-row-start: 2;
  }

  .col-2{
    display: block;
    height: 80%;
  }
  
  section.trentadue{
    overflow:hidden;
  }
  
  section img{
    display: block;
    text-align: center;
    position: static;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    
  }
  
  
  
  .vl{
    border-left: 8px solid var(--red);
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  }
  
  
  
  .tree{
    position: relative;
    left: 55%;
    margin-top: -65%;
  
  }
  
  @media only screen and (min-width: 768px) {
    .first {
    margin-top: 150px;
    }
  
    .half{
      margin-bottom: 90px;
    }
  
    .half h3{
    padding-top: 120px;  }

    .row{
      display: block;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  
    .col-8 p{
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      min-width: 250px;
      font-size: 1.2rem;
      background-color: var(--white);
      padding: 20px;
      height: auto;
    }
  
    section img{
      width: 50vw; 
      height: auto; 
      object-fit: cover;
      object-position: 25% 25%; 
    }

    .col-8, .col-2{
      margin-left: auto;
      margin-right: auto;

    }

    .col-2 img{
      max-height: 350px;
    }
  
    .col-8{
      max-width: 70%;
    }
  
  

    .dx img{
      direction: rtl;
    }
  
    .tree{
      max-width: 600px;
      margin-top: -35%;
      
    }
  
  }
  
  @media only screen and (min-width: 1100px){
    section{
      max-width: 1400px;
      margin: auto;
    }
  
    section img{
      max-width: 900px;
    }
  
    .col p{
      max-width: 50%;
    }
  }
  
  
  